@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
    transition: .3s ease;
}

img {
    display: block;
}

:root {
    /* !PRIMARY: */
    --ModerateBlue: hsl(238, 40%, 52%);
    --SoftRed: hsl(358, 79%, 66%);
    --LightGrayishBlue: hsl(239, 57%, 85%);
    --PaleRed: hsl(357, 100%, 86%);

    /** NEUTRAL:  */
    --Darkblue: hsl(212, 24%, 26%);
    --GrayishBlue: hsl(211, 10%, 45%);
    --Lightgray: hsl(223, 19%, 93%);
    --Verylightgray: hsl(228, 33%, 97%);
    --White: hsl(0, 0%, 100%);

    /*! Font Sizes */
    --userFont: clamp(15px, 1vw, 30px);
    --primaryFont: clamp(16px, 1vw, 45px);
    --imageWidth: clamp(10px, 1vw, 50px);
    --margin15: clamp(15px, 1vw, 40px);
    --margin20: clamp(20px, 1vw, 60px);
    --userImg: clamp(32px, 2vw, 200px);
}

main {
    min-height: 100vh;
    background-color: var(--Verylightgray);
    padding-block: clamp(60px, 5vw, 130px);
}

.container {
    width: min(50%, 1200px);
    margin-inline: auto;
}

.comment-div {
    margin-bottom: var(--margin15);
}

.comment-container:not(:last-child) {
    margin-bottom: var(--margin20);
}

.comment {
    display: flex;
    gap: 23px;
    background-color: var(--White);
    border-radius: 10px;
    padding: clamp(20px, 1.4vw, 40px) clamp(20px, 1.4vw, 40px) clamp(30px, 2vw, 60px);
    margin-bottom: var(--margin15);
    box-shadow: 0 0 15px hsl(239, 57%, 93%);
}

.votes {
    background-color: var(--Verylightgray);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-inline: clamp(10px, 1vw, 25px);
    height: clamp(100px, 7vw, 150px);
    gap: clamp(20px, 1vw, 40px);
    width: clamp(40px, 3vw, 80px);
    border-radius: 10px;
}

.votes img {
    width: clamp(15px, .7vw, 60px);
    cursor: pointer;
}


.track {
    font-weight: 600;
    font-size: var(--primaryFont);
    color: var(--ModerateBlue);
}

.comment-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--margin15);
    width: 100%;
}

.comment-info {
    display: flex;
    align-items: center;
    gap: clamp(15px, 1vw, 30px);
}

.user-img {
    width: var(--userImg);
}

.user {
    font-weight: 700;
    font-size: var(--userFont);
    color: var(--Darkblue);
}

.time {
    color: var(--GrayishBlue);
    font-size: var(--userFont);
}

.reply-btn {
    display: flex;
    align-items: center;
    gap: clamp(6px, .5vw, 20px);
    color: var(--ModerateBlue);
    font-weight: 600;
    cursor: pointer;
    font-size: var(--primaryFont);
}
.reply-btn:hover {
    opacity: .6;
}
.reply-btn * {
    pointer-events: none;
}

.reply-btn img {
    width: var(--imageWidth);
}

.comment-box {
    width: 100%;
}

.comment-content {
    color: var(--GrayishBlue);
    line-height: 1.4;
    font-size: var(--primaryFont);
}
.comment-content span {
    color: var(--ModerateBlue);
    font-weight: 600;
}

.reply-box {
    background-color: var(--White);
    box-shadow: 0 0 15px hsl(239, 57%, 93%);
    border-radius: 10px;
    padding: clamp(20px, 1.4vw, 40px) clamp(20px, 1.4vw, 40px) clamp(30px, 2vw, 60px);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: clamp(17px, 1vw, 40px);
}

.reply-input {
    flex: 1;
}
.reply-input textarea {
    width: 100%;
    padding: 15px 20px;
    border-radius: 10px;
    border: 1px solid var(--Darkblue);
    outline: none;
    resize: none;
    font-size: var(--primaryFont);
    color: var(--GrayishBlue);
}

.main-user-img {
    width: clamp(40px, 3vw, 120px);
}

.reply {
    background-color: var(--ModerateBlue);
    color: var(--White);
    padding: clamp(10px, .7vw, 30px) clamp(25px, 1vw, 100px);
    cursor: pointer;
    font-size: var(--primaryFont);
    border-radius: 7px;
}
.reply:hover {
    opacity: .6;
}

.replies-box {
    border-inline-start: 2px solid var(--Lightgray);
    width: 95%;
    margin-left: auto;
    padding-left: 40px;
} 

.comment-options {
    display: flex;
    gap: clamp(24px, 1.2vw, 50px);
}

.comment-options img {
    width: var(--imageWidth);
}
.comment-options p {
    font-size: var(--primaryFont);
}

.delete,
.edit {
    display: flex;
    align-items: center;
    gap: clamp(6px, .4vw, 10px);
    cursor: pointer;
    font-weight: 700;
}
.delete:hover,
.edit:hover {
    opacity: .6;
}

.delete {
    color: var(--SoftRed);
}

.edit {
    color: var(--ModerateBlue);
}

.update {
    background-color: var(--ModerateBlue);
    margin-left: auto;
    width: fit-content;
    color: var(--White);
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 7px;
    cursor: pointer;
    margin-top: 10px;
    display: none;
}
.update:hover {
    opacity: .6;
}

.show-update {
    display: block;
}

.active-comment {
    border: 2px solid var(--Darkblue);
    padding: 5px;
}

.user-notifier {
    background-color: var(--ModerateBlue);
    color: var(--White);
    padding: clamp(2px, .2vw, 10px) clamp(5px, .5vw, 18px);
    border-radius: 4px;
    font-size: var(--userFont);
}

.overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.616);
    height: 100vh;
    opacity: 0;
    pointer-events: none;
}

.show-overlay {
    opacity: 1;
    pointer-events: all;
}

.modal-container {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background-color: var(--White);
    width: 29%;
    border-radius: 7px;
    padding: 30px;
}

.modal-title {
    font-size: clamp(20px, 1.5vw, 100px);
    color: var(--Darkblue);
    margin-bottom: var(--margin20);       
}

.modal-container p {
    font-size: var(--primaryFont);
    color: var(--GrayishBlue);
    margin-bottom: var(--margin20);
}

.modal-btn {
    display: flex;
    justify-content: space-between;
}
.modal-btn div {
    flex-basis: 47%;
    text-align: center;
    padding-block: clamp(10px, 1vw, 30px);
    color: var(--White);
    font-weight: 500;
    border-radius: 7px;
    font-size: var(--primaryFont);
    text-transform: uppercase;
    cursor: pointer;
}
.modal-btn div:hover {
    opacity: .6;
}

.show-modal {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.cancel {
    background-color: var(--GrayishBlue);
}
.confirm-delete {
    background-color: var(--SoftRed);
}

.remove-comment {
    animation: removeComment .6s ease forwards,
    opacity .6s ease forwards;
}

.prevent-reply {
    pointer-events: none;
}

@keyframes removeComment {
    to {
        transform: translateY(40px);
    }
}
@keyframes opacity {
    to {
        opacity: 0;
    }
}


@media (max-width: 1330px) {
    .container {
        width: 70%;
    }
    .modal-container {
        width: 40%;
        padding-block: 40px;
    }
}

@media (max-width: 920px) {
    main {
        padding-block: 40px;
    }
    .container {
        width: 95%;
    }
    .comment {
        position: relative;
        padding: 20px 20px 70px;
    }
    .comment-content {
        line-height: 1.6;
    }
    .reply-btn,
    .comment-options {
        position: absolute;
        right: 25px;
        bottom: 20px;
    }
    .votes {
        position: absolute;
        rotate: 270deg;
        left: 55px;
        bottom: -20px;
    }
    .votes * {
        rotate: 90deg;
    }
    .replies-box {
        width: 98%;
        padding-left: 15px;
    } 
    .reply-box {
        position: relative;
        padding: 20px 20px 70px;
        gap: 17px;
    }
    .main-user-img {
        position: absolute;
        bottom: 20px;
        left: 25px;
    }
    .reply {
        position: absolute;
        bottom: 20px;
        right: 25px;
    }
    .modal-container {
        width: 90%;
    }
    .modal-btn div {
        flex-basis: 47%;
        padding-block: 20px;
    }
    .comment-options {
        display: flex;
        gap: 14px;
    }
    .comment-info {
        width: 100%;
    }
    .time {
        margin-left: auto;
    }
}


@media (max-width: 330px) {
    :root {
        --userFont: clamp(13px, 1vw, 30px);
        --primaryFont: clamp(14px, 1vw, 45px);
        --imageWidth: clamp(10px, 1vw, 50px);
        --margin15: clamp(15px, 1vw, 40px);
        --margin20: clamp(20px, 1vw, 60px);
        --userImg: clamp(25px, 2vw, 200px);
    }
    .replies-box {
        width: 99%;
        padding-left: 5px;
    } 
    .comment {
        position: relative;
        padding: 20px 10px 70px;
    }
    .votes {
        position: absolute;
        rotate: 270deg;
        left: 39px;
        bottom: -20px;
    }
    .modal-container {
        width: 90%;
        padding: 15px;
    }
}